// table for showing the logistic regression results

h2 Evaluating the predictive model: cross validation
p Our predictive model uses logistic regression as a classifier to predict mortality status using the Elixhauser comorbidity scores as predictive features. We used cross validation to evaluate how good the logistic regression classifier works for this purpose. We performed 10-fold cross validation for the entire dataset consisting of over 32,000 patients, as well as for a subset of 1000 patients. 
p <strong>How to read the graph</strong>: this is the ROC curve for our model, which is a plot of all values of sensitivity vs. (1 - specificity), for each different threshold (ranging between 0 and 1) that was used as the cutoff for separation of classes. The higher the area under the curve (AUC), the better. Our model obtained a <strong>AUC=0.76</strong>.
<div id="regression_cv_1000" width="200" height="200"></div>
//script
  include roc_1000.js

img(src="/images/rocCurves.png")

br
hr
br

