head

div#about.featurette(align="center")
  span#splashtitle
    h1(style="color-blue" align="center") 
      include _explicu_name_darkbg.jade
    br
  span
    h3(align="center") Empowering ICU staff with cutting edge visual analytics
  br
  div.row
    p(align="center") 
      | Use explICU to visualize risk factors for mortality. 
      br
      | explICU helps you identify risk factors easily, and requires no data analysis for the user.
      br
      | Save time. Save Patients. Save Money
