head

div.featurette
  span
    h1(style="color-blue" align="center") About 
      include _explicu_name.jade
  p 
    | ExplICU is an interdisciplinary project that aims to combine time series visualization, clustering, and logistic regression for clinical data in an interactive format.  Such a tool does not exist for clinical data; yet the need is substantial.  Below we describe the problem description, background, methods, and preliminary results we have obtained so far.

  br
  br

  h1(align="center") Why we built 
    include _explicu_name.jade
  p
    | There are four million visits per year to intensive care units (ICUs). The average ICU mortality rate is 8-19%, or 500,000 deaths annually. ICU care staff often have an overwhelming amount of information to interpret, making it more challenging to identify primary factors contributing to mortality. Therefore, we propose an interactive tool that physicians can use to visually explore the data and test hyptheses on-the-fly.

br
br