head

div(align="center")
  span
    h1(style="color-blue" align="center") How 
      include _explicu_name_darkbg.jade 
      |  works
    br
  br
  
  p 
    | Watch our video to learn about how explICU works.

  video(video height="640" controls)
    source(src="/videos/explicu_video.mp4" type="video/mp4")
    Your browser does not support the video tag.
br
br