head

div#about.featurette(align="center")
  span#splashtitle
    h3(align="center") Thank you for your interest in 
    h1(style="color-blue" align="center")
      include _explicu_name.jade

  
  p(align="center")
    | Please contact us at the link below for further inquiries.

div.row(style="align:center")
  div.col-md-3
  div.col-md-6
    a(target="_blank" href="mailto:__@__").btn.btn-block.btn-lg.btn-danger Contact Us
  div.col-md-3

hr
