// Projects
head

<style> img {height:140px}</style>

h1(align="center") Get Started
br

div.row(style="padding-left:20px; padding-right:20px")
  //div.col-md-1

  div#coursera_ml.col-md-4
    a(href="/timelines")
      img(src="/images/timeline.png")
      h3 <strong>Timelines</strong>        
      p 
        | <font color="#2a303d">View time series data in an easily interpretable fashion.</font>

  div#blog.col-md-4
    a(href="/clustering")
      img(src="/images/cluster.png")
      h3 <strong>Clustering</strong>        
      p 
        | <font color="#2a303d">Clustering of patients.</font>

  div#mlresearch.col-md-4
    a(href="/regression")
      img(src="/images/linegraph.png")
      h3 <strong>Regression</strong>        
      p 
        | <font color="#2a303d">Regression for prediction of risk factors.</font>

   

br
br