extends layout
block content
  section.about
    div.container
      include _about_intro.jade
  section.featurette
    include timeline_forMainpage.jade
    br
    div.row(style="background-color:white")
      div.col-md-4
      div.col-md-4
        a(href="/timelines").btn.btn-block.btn-lg.btn-success Click Here For More
      div.col-md-4
  section.featurette
    include clustering_forMainpage.jade
    br
    div.row(style="background-color:white")
      div.col-md-4
      div.col-md-4
        a(href="/clustering").btn.btn-block.btn-lg.btn-success Click Here For More
      div.col-md-4

  section.featurette
    include regression_forMainpage.jade
    br
    div.row(style="background-color:white")
      div.col-md-4
      div.col-md-4
        a(href="/regression").btn.btn-block.btn-lg.btn-success Click Here For More
      div.col-md-4


  section.featurette
    div.container
      include _about_mission.jade

  section.featurette-dark
    div.container
      include _about_howitworks.jade

  section.featurette
    include _getstarted.jade

  section.featurette(align="center")
    include _explicu_name.html