head

div.featurette-light(align="center")
  span
    h1(style="color-blue" align="center") 
      include ../_explicu_name.jade
    br
  span
    h3(align="center") Sample timelines for patients in the database.
  br

div.featurette(align="center")
  //include _visjs_timelines.jade
  include timeline_final.html
hr
br
br