
div(id="timeline_t1")
  div(class="menu")
    input(type="button" id="zoomIn" value="Zoom in")
    input(type="button" id="zoomOut" value="Zoom out")
    input(type="button" id="moveLeft" value="Move left")
    input(type="button" id="moveRight" value="Move right")

script
  include timeline_t1.js